<div class="bg-primary px-4 py-3">
  <h4 class="text-white fs-5">Welcome to the QUIZ!</h4>
</div>
<h4 class="fs-6 px-4 py-3 border-bottom text-secondary">
  Please select the answers for following question and hit submit button.
</h4>

<div class="container-fluid">
  <!-- error message -->
  <div *ngIf="!validator" class="alert alert-danger" role="alert">
    Please Answer all the questions.
  </div>
  <!-- after submit message -->
  <div *ngIf="submitted" class="mt-2 alert alert-info">
    Thank you for taking the quiz. Your {{ rightAnswer }} answers out of
    {{ shuffledQuestions.length }} are correct.
  </div>

  <form>
    <div class="row">
      <!-- for loop and slice to 4 questions -->
      <div
        *ngFor="let question of shuffledQuestions; index as i"
        class="col-md-6 p-2"
      >
        <div class="bg-light col-md-12 p-2 row question-box rounded-3 m-0">
          <h6 class="text-secondary fs-5">
            {{ question.title }}
          </h6>
          <div
            class="form-check"
            *ngFor="let option of question.options; index as j"
            class="col-sm-6"
          >
          <div class="form-group py-2">
            <input
              class="form-check-input cursor-pointer"
              type="radio"
              name="answer_{{ i }}"
              id="answer_{{ i }}_{{ j }}"
              (change)="enterAnswer(i, option)"
            />
            <label
              class="form-check-label text-secondary ps-2 cursor-pointer"
              for="answer_{{ i }}_{{ j }}"
            >
              {{ option }}
            </label>
          </div>
          </div>
          <!-- alert -->
        <div
        *ngIf="submitted"
        class="alert mt-2"
        [ngClass]="{
          'alert-danger': question.selectedAnswer != question.answer,
          'alert-success': question.selectedAnswer == question.answer
        }"
      >
        Explanation: {{ question.explain }}
      </div>
        </div>
        
      </div>
      <div (click)="submitQuestionnaire()" class="cursor-pointer btn btn-primary btn-lg col-auto m-4">Submit</div>
    </div>
  </form>
  
</div>
